md-data-table-toolbar
    .md-title 音乐列表
md-data-table-container
    table(md-data-table, md-progress='deferred')
        thead
            tr
                th(name='ID')
                th(name='封面')
                th(name='歌名')
                th(name='艺术家')
                th(name='流派')
                th(name='时长')
                th(name='码率')
                th(name='操作')
        tbody
            tr.music(ng-repeat='music in list.table.data')
                td {{ music.id }}
                td
                    img(ng-src='{{ music.show_thumbnail_cover_url }}', style='height: 3em;')
                td.title {{ music.title }}
                td.artist {{ music.artist }}
                td {{ music.genre }}
                td {{ music.playtime * 1000 | amDateFormat:"mm:ss" }}
                td {{ music.bitrate_4_display }}
                td
                    md-button.md-icon-button(ng-click='list.$amaotoPlayer.loadMusicAndPlay(music)')
                        md-icon play_arrow
                    md-button.md-icon-button(ng-click='list.showMusicEditorDialog(music, $event)')
                        md-icon edit
                    md-button.md-icon-button(ng-click='list.showMusicDeleteDialog(music, $event)')
                        md-icon delete
md-data-table-pagination(md-label='list.table.paginationLabel', md-page='list.table.currentPage', md-limit='list.table.perPage', md-total='{{ list.table.total }}', md-trigger='list.onPaginationChange')


div
    md-button(ng-click='list.showUploadDialog($event)') 上传文件
