div
    md-list
        md-list-item.md-1-line
            span(flex='10') ID
            span(flex='10') 封面
            span(flex) 歌名
            span(flex='10') 艺术家
            span(flex='10') 流派
            span(flex='10') 音轨号
            span(flex='10') 码率
            span(flex='20')
        md-divider
        md-list-item.md-1-line(ng-repeat='music in vm.list')
            span(flex='10') {{ music.id }}
            span(flex='10')
                div(style='margin: 0.5em 1em 0.5em 0;')
                    img(ng-src='{{ music.show_thumbnail_cover_url }}', style='height: 3em;')
            span(flex) {{ music.title }}
            span(flex='10') {{ music.artist }}
            span(flex='10') {{ music.genre }}
            span(flex='10') {{ music.track }}
            span(flex='10') {{ music.bitrate_4_display }}
            span(flex='20')
                audio(ng-src='{{ music.show_url }}' controls)

div
    md-button(ng-click='vm.prevPage()') prev
    md-button(ng-click='vm.nextPage()') next
    md-button(ng-click='vm.showUploadDialog($event)') 上传文件
