md-data-table-toolbar
    .md-title 专辑列表
md-data-table-container
    table(md-data-table, md-progress='deferred')
        thead
            tr
                th(name='ID')
                th(name='封面')
                th(name='专辑名')
                th(name='艺术家')
                th(name='流派')
                th(name='音乐数')
                th(name='操作')
        tbody
            tr.music(ng-repeat='album in list.table.data')
                td {{ album.id }}
                td
                    img(ng-src='{{ album.show_thumbnail_cover_url }}', style='height: 3em;')
                td.title {{ album.title }}
                td.artist {{ album.artist }}
                td {{ album.genre }}
                td {{ album.music_count }}
                td
                    md-button.md-raised(ng-click='') 详情
md-data-table-pagination(md-label='list.table.paginationLabel', md-page='list.table.currentPage', md-limit='list.table.perPage', md-total='{{ list.table.total }}', md-trigger='list.onPaginationChange')


div
    md-button(ng-click='list.showUploadDialog($event)') 上传专辑
