div#homepage
    div(ng-show='homepage.$amaotoCore.localData.serverInfo.albumCount && homepage.$amaotoCore.localData.serverInfo.musicCount')
        md-icon info
        span  目前全站共有 {{ homepage.$amaotoCore.localData.serverInfo.albumCount }} 张专辑， 共计 {{ homepage.$amaotoCore.localData.serverInfo.musicCount }} 首单曲

    br
    div
        md-grid-list(md-col-xs='4', md-cols-sm='6', md-cols-md='8', md-cols-gt-md='8', md-cols-gt-lg='8', md-row-height='1:1', md-gutter='1.5em', flex)
            md-grid-tile(ng-repeat='item in homepage.amaotoFlow', md-rowspan="{{ item.type == 'music'? 1 : 2 }}", md-colspan="{{ item.type == 'music'? 1 : 2 }}", ng-init='item.ngView = {}; data = item.data', ng-mouseover='item.ngView.mouseover = true', ng-mouseleave='item.ngView.mouseover = false')
                div(ng-show='item.type == "album"', layout-fill)
                    div.cover(style='background-image: url({{ item.data.show_thumbnail_cover_url || "assets/images/no-cover-300.jpg" }});', layout-fill, layout='row', layout-align='center center')
                        div.active-mask(ng-show='item.ngView.mouseover')

                        md-grid-tile-header
                            div.meta(layout='column')
                                div.title {{ data.title }}
                                div.artist {{ data.artist }}

                        div(ng-show='item.ngView.mouseover', layout='column')
                            div(layout='row', flex)
                                md-button.md-raised.md-icon-button(ng-click='amaoto.$amaotoPlayer.insertAlbumToPlaylist(data, true)')
                                    md-icon play_arrow
                                md-button.md-raised.md-icon-button(ng-click='amaoto.$amaotoPlayer.addAlbumToPlaylist(data)')
                                    md-icon playlist_add
                div(ng-show='item.type == "music"', layout-fill, layout='row')
                    div.cover(style='background-image: url({{ item.data.show_thumbnail_cover_url || "assets/images/no-cover-300.jpg" }});', layout-fill, layout='row', layout-align='center center')
                        div.active-mask(ng-show='item.ngView.mouseover')

                        md-grid-tile-header
                            div.meta(layout='column')
                                div.title {{ data.title }}
                                div.artist {{ data.artist }}

                        div(ng-show='item.ngView.mouseover', layout='column')
                            div(layout='row', flex)
                                md-button.md-raised.md-icon-button(ng-click='amaoto.$amaotoPlayer.insertMusicToPlaylist(data, true)')
                                    md-icon play_arrow
                                md-button.md-raised.md-icon-button(ng-click='amaoto.$amaotoPlayer.addMusicToPlaylist(data)')
                                    md-icon playlist_add
    //
    //div(layout='column', layout-padding)
    //    h2.md-headline 单曲
    //    div(layout='row', layout-padding)
    //        div(flex='5')
    //        md-grid-list.music(md-col-xs='1', md-cols-sm='2', md-cols-md='6', md-cols-gt-md='6', md-cols-gt-xl='12', md-row-height='1:1', md-gutter='15px', flex)
    //            md-grid-tile(ng-repeat='music in homepage.musics', md-colspan="1", ng-init='music.ngView = {}', ng-mouseover='music.ngView.mouseover = true', ng-mouseleave='music.ngView.mouseover = false', style='background-image: url({{ music.show_thumbnail_cover_url || "assets/images/no-cover-300.jpg" }});')
    //                div.active-mask(ng-show='music.ngView.mouseover')
    //
    //                md-grid-tile-header
    //                    div.meta(layout='column')
    //                        div.title {{ music.title }}
    //                        div.artist {{ music.artist }}
    //
    //                div(ng-show='music.ngView.mouseover', layout='column')
    //                    br
    //                    div(layout='row', flex)
    //                        md-button.md-raised.md-icon-button(ng-click='amaoto.$amaotoPlayer.insertMusicToPlaylist(music, true)')
    //                            md-icon play_arrow
    //                        md-button.md-raised.md-icon-button(ng-click='amaoto.$amaotoPlayer.addMusicToPlaylist(music)')
    //                            md-icon playlist_add