md-data-table-toolbar
    .md-title 用户列表
md-data-table-container
    table(md-data-table, md-progress='deferred')
        thead
            tr
                th(name='ID')
                th(name='用户名')
                th(name='Email')
                th(name='创建时间')
        tbody
            tr(ng-repeat='user in list.table.data')
                td {{ user.id }}
                td {{ user.username }}
                td {{ user.email }}
                td {{ user.created_at }}
md-data-table-pagination(md-label='list.table.paginationLabel', md-page='list.table.currentPage', md-limit='list.table.perPage', md-total='{{ list.table.total }}', md-trigger='list.onPaginationChange')
