#home
    amaoto-v2-player

    div(layout='row', layout-fill)
        div.home-sidebar-left(layout='column')
            div(flex)
            amaoto-user-menu

        div(ui-view='home.frame', flex, layout-padding)