#home(layout-fill)
    amaoto-v2-player

    div(layout='row', layout-fill)
        div.home-sidebar-left(layout='column')
            md-button(ng-click='home.$state.go("home")')
                md-icon home
                |  首页
            md-button(ng-click='home.$state.go("home.album")')
                md-icon album
                |  专辑
            md-button(ng-click='home.$state.go("home.music")')
                md-icon audiotrack
                |  音乐
            span(flex)
            amaoto-user-menu

        div(ui-view='home.frame', flex, layout-padding)
            md-grid-list(md-cols-sm='1', md-cols-md='2', md-cols-gt-md='6', md-row-height-gt-md="1:1", md-row-height="4:3", md-gutter="8px", md-gutter-gt-sm="4px")
                md-grid-tile(ng-repeat='album in home.albums')