md-data-table-toolbar
    .md-title 文件列表
md-data-table-container
    table(md-data-table, md-progress='deferred')
        thead
            tr
                th(name='ID')
                th(name='文件名')
                th(name='MIME')
                th(name='创建时间')
        tbody
            tr(ng-repeat='file in list.table.data')
                td {{ file.id }}
                td {{ file.name }}
                td {{ file.mime }}
                td {{ file.created_at }}
md-data-table-pagination(md-label='list.table.paginationLabel', md-page='list.table.currentPage', md-limit='list.table.perPage', md-total='{{ list.table.total }}', md-trigger='list.onPaginationChange')

div
    md-button(ng-click='list.showUploadDialog($event)') 上传文件