md-dialog(aria-label='General Uploader Dialog', flex)
    form
        md-toolbar.md-toolbar-tools
            h2 文件上传
            span(flex)
            md-button.md-icon-button(ng-click='vm.cancel()')
                md-icon close
        md-dialog-content.md-dialog-content
            amaoto-file-uploader
        md-dialog-actions.md-actions(layout='row')
            md-button
                | 确定