div.amaoto-v2-player
    div.cover
        img(ng-src='{{ vm.$amaotoPlayer.playing.show_thumbnail_cover_url || "assets/images/no-cover-300.jpg"}}')
    div.player
        div.meta
            span.title {{ vm.$amaotoPlayer.playing.title }}
            span.artist {{ vm.$amaotoPlayer.playing.artist ? '&nbsp;-&nbsp;' + vm.$amaotoPlayer.playing.artist : '' }}
            md-progress-linear.progress.md-warn(md-mode='{{ vm.$amaotoPlayer.player.audio.readyState >= 3 ? "buffer": "query" }}', value='{{ vm.$amaotoPlayer.player.playedProgress }}', md-buffer-value='{{ vm.$amaotoPlayer.player.bufferedProgress }}')
            md-slider.progress-setter.md-warn(aria-label='progress', ng-model='vm.$amaotoPlayer.player.audio.currentTime', min='0', max='{{ vm.$amaotoPlayer.player.audio.duration }}', step='1')
        div.controller
            div.main-btns(layout='row', layout-padding)
                md-button.md-fab.md-mini.md-warn(ng-click='vm.$amaotoPlayer.play()')
                    md-icon play_arrow
                md-button.md-fab.md-mini.md-warn(ng-click='vm.$amaotoPlayer.pause()')
                    md-icon pause
                md-button.md-fab.md-mini.md-warn(ng-click='vm.$amaotoPlayer.stop()')
                    md-icon stop
                md-button.md-fab.md-mini.md-warn(ng-click='vm.$amaotoPlayer.prev()')
                    md-icon skip_previous
                md-button.md-fab.md-mini.md-warn(ng-click='vm.$amaotoPlayer.next()')
                    md-icon skip_next
                div(flex)
                div(flex='20', layout='row')
                    md-icon.md-accent volume_up
                    md-slider.md-accent(flex, aria-label='volume', ng-model='vm.$amaotoPlayer.player.audio.volume', min='0', max='1', step='0.1')
            md-content.playlist
                md-list
                    md-list-item.row(layout='row', ng-repeat='music in vm.$amaotoPlayer.playlist track by $index', ng-class='music.status')
                        div.index(flex='5') {{ $index }}
                        div.title(flex='35') {{ music.title }}
                        div.artist(flex='25') {{ music.artist }}
                        div(flex)
                        div.md-secondary.btns(layout='row', flex='25')
                            md-button.md-icon-button(ng-click='vm.$amaotoPlayer.loadMusicAndPlay(music)')
                                md-icon play_arrow
                            md-button.md-icon-button(ng-click='vm.$amaotoPlayer.removeMusicFormPlaylistByIndex($index)')
                                md-icon clear
                            md-button.md-icon-button(href="{{ music.download_url }}" target="_blank")
                                md-icon file_download
            div.sub-btns(layout='row', layout-padding)
                md-button.md-raised.md-primary(aria-label='loop-type',ng-click='vm.$amaotoPlayer.changeLoopType()', ng-switch='vm.$amaotoPlayer.player.loopType')
                    md-icon(ng-switch-when='queue') queue_music
                    span(ng-switch-when='queue') 顺序播放
                    md-icon(ng-switch-when='loop') loop
                    span(ng-switch-when='loop') 洗脑循环
                    md-icon(ng-switch-when='shuffle') shuffle
                    span(ng-switch-when='shuffle') 乱序播放
                md-button.md-raised.md-primary(ng-click='vm.$amaotoPlayer.emptyPlaylist()')
                    md-icon delete
                    span 清空播放列表