md-data-table-toolbar
    .md-title 图片列表
        md-button(ng-click='list.showUploadDialog($event)') 上传文件
md-data-table-container
    table(md-data-table, md-progress='deferred')
        thead
            tr
                th(name='ID')
                th(name='预览图')
                th(name='宽')
                th(name='高')
                th(name='创建时间')
        tbody
            tr(ng-repeat='image in list.table.data')
                td {{ image.id }}
                td
                    div(style='height: 4em; margin: 0.5em 2em 0.5em 0; overflow: hidden;')
                        img(ng-src='{{ image.show_thumbnail_url }}', width='100', ng-click='list.showPreviewImageDialog($event, image.show_high_resolution_url)')
                td {{ image.width }}
                td {{ image.height }}
                td {{ image.created_at }}
md-data-table-pagination(md-label='list.table.paginationLabel', md-page='list.table.currentPage', md-limit='list.table.perPage', md-total='{{ list.table.total }}', md-trigger='list.onPaginationChange')
