div
    md-list
        md-list-item.md-1-line
            .md-list-item-text(layout='row', layout-fill)
                span(flex='10') ID
                span(flex='20') 预览图
                span(flex='10') 宽
                span(flex='10') 高
                span(flex='20') 创建时间
        md-divider
        md-list-item.md-2-line(ng-repeat='file in vm.list')
            .md-list-item-text(layout='row', layout-fill)
                span(flex='10') {{ file.id }}
                div(flex='20')
                    div(style='height: 2em; margin-right: 2em; overflow: hidden;')
                        img(ng-src='{{ file.show_thumbnail_url }}', width='100', ng-click='vm.showPreviewImageDialog($event, file.show_high_resolution_url)')
                span(flex='10') {{ file.width }}
                span(flex='10') {{ file.height }}
                span(flex='20') {{ file.created_at }}

div
    md-button(ng-click='vm.prevPage()') prev
    md-button(ng-click='vm.nextPage()') next
    md-button(ng-click='vm.showUploadDialog($event)') 上传文件
