div(style='position: fixed; top: 0; left: 0; right: 0;')
    md-toolbar.md-toolbar-tools
        h2(ng-click='console.$state.go("homepage")')
            span(ng-bind='console.$amaotoCore.localData.serverInfo.siteName')
            small
                span &nbsp;Ver.
                span(ng-bind='vm.$amaotoCore.localData.serverInfo.version')
        md-button(ng-click='console.$state.go("console.user.list")')
            md-icon account_box
            |  用户
        md-button(ng-click='console.$state.go("console.file.list")')
            |  文件
        md-button(ng-click='console.$state.go("console.image.list")')
            |  图片
        md-button(ng-click='console.$state.go("console.music.list")')
            |  音乐
        span(flex)
        amaoto-user-menu

div(style='height: 64px;')

div(layout="vertical")
    div(ui-view='console.frame', layout-fill)