#console(layout-fill)
    amaoto-v2-player

    div(layout='row', layout-fill)
        div.console-sidebar-left(layout='column')
            md-button(ng-click='console.$state.go("home")')
                md-icon home
                |  前台
            md-button(ng-click='console.$state.go("console")')
                md-icon dashboard
                |  控制台
            md-button(ng-click='console.$state.go("console.user.list")')
                md-icon account_box
                |  用户
            md-button(ng-click='console.$state.go("console.file.list")')
                md-icon insert_drive_file
                |  文件
            md-button(ng-click='console.$state.go("console.image.list")')
                md-icon photo
                |  图片
            md-button(ng-click='console.$state.go("console.music.list")')
                md-icon audiotrack
                |  音乐
            md-button(ng-click='console.$state.go("console.album.list")')
                md-icon album
                |  专辑
            span(flex)
            amaoto-user-menu

        div(ui-view='console.frame', flex, layout-padding)