form(name='form')
    div Single Image with validations
    md-button(ngf-select='', ng-model='file', name='file', ngf-pattern="'image/*'", accept='image/*', ngf-max-size='20MB', ngf-min-height='100', ngf-resize='{width: 100, height: 100}') Select
    br
    div Multiple files
    md-button(ngf-select='', ng-model='files', ngf-multiple='true') Select
    md-button(type='submit', ng-click='submit()') submit
div Image thumbnail:
img(ngf-thumbnail="file")
div Audio preview:
audio(controls='', ngf-src='file')
div Video preview:
video(controls='', ngf-src='file')
