amaoto-v2-player


div(style='height: 100px')
md-button(ng-click='homepage.lll()') lll
md-button(ng-click='homepage.showP()') showP
//h1 Homepage

div(style='position: fixed; bottom: 0; left: 0; right: 0;')
    md-content
        md-toolbar.md-toolbar-tools
            span(flex='')
            amaoto-user-menu