div(style='position: fixed; top: 0; left: 0; right: 0;')
    md-content
        md-toolbar
            .md-toolbar-tools
                md-button.md-icon-button(aria-label='Settings')
                    md-icon menu
                h2
                    span Toolbar with Icon Buttons
                span(flex='')
                amaoto-user-menu

div(style='height: 64px;')

div(layout="vertical", layout-fill)
    md-content
        h1 Homepage